xml/XMLaula/simulacro/recetario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://tierno.es/recetario"
    elementFormDefault="qualified"
    xmlns:re="http://tierno.es/recetario">
    <xs:element name="recetario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="receta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="tiempo" type="re:Tiempo" />
                            <xs:element name="dificultad" type="re:Dificultad" />
                            <xs:element name="ingredientes" type="re:Ingredientes" />
                            <xs:element name="pasos">
                                <xs:complexType>
                                    <xs:sequence minOccurs="0" maxOccurs="20">
                                        <xs:element name="paso" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="alergenos" type="re:Alergenos" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Tiempo">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="240" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Dificultad">
        <xs:restriction base="xs:string">
            <xs:enumeration value="facil" />
            <xs:enumeration value="medio" />
            <xs:enumeration value="dificil" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Ingredientes">
        <xs:sequence minOccurs="2" maxOccurs="unbounded">
            <xs:element name="ingrediente">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="cantidad" type="xs:positiveInteger" use="optional" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Alergenos">
        <xs:sequence>
            <xs:element name="alergeno">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="nombre">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="lang" type="re:Lang">
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="gravedad">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="servicios-medicos" type="xs:boolean"></xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Lang">
        <xs:restriction base="xs:string">
            <xs:enumeration value="es" />
            <xs:enumeration value="fr" />
            <xs:enumeration value="en" />
            <xs:enumeration value="ar" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>


