xml/XML-ERICK/2-Ejercicios-XSD/simulacro/coches.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://erick.es"
    elementFormDefault="qualified"
    xmlns:tns="https://erick.es">

    <xs:element name="concesionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coche" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string"/>
                            <xs:element name="modelo" type="xs:string"/>
                            <xs:element name="año" type="tns:yearType"/>
                            <xs:element name="kilometros" type="xs:nonNegativeInteger"/>
                            <xs:element name="precio" type="tns:precioType"/>
                            <xs:element name="extras" minOccurs="0" type="tns:extrasType"/>
                        </xs:sequence>
                        <xs:attribute name="matricula" type="tns:matriculaType"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="yearType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1990"/>
            <xs:maxInclusive value="2024"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="precioType">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="matriculaType">
        <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{4}[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="extrasType">
        <xs:sequence>
            <xs:element name="extra" minOccurs="0" maxOccurs="5">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="precio" type="xs:integer" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    
</xs:schema>
