XML/XMLaula/ejercicios_dtd/videolibrary.dtd

<!ELEMENT videolibrary (movie+, series+)>
<!ELEMENT movie (title, director+, year, genre+, duration, synopsis?, cast?)>
<!ELEMENT series (title, seasons, total_episodes, current_season?, is_active, network?)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT director (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT duration (#PCDATA)>
<!ELEMENT synopsis (#PCDATA)>
<!ELEMENT cast (actor+)>
<!ELEMENT actor (name, character)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT character (#PCDATA)>
<!ELEMENT seasons (#PCDATA)>
<!ELEMENT total_episodes (#PCDATA)>
<!ELEMENT current_season (#PCDATA)>
<!ELEMENT is_active (#PCDATA)>
<!ELEMENT network (#PCDATA)>

<!ATTLIST movie id ID #REQUIRED
          original_language CDATA #IMPLIED
          rating (G|PG|PG-13|R|NC-17) "PG"
          award_winner (yes|no) "no">

<!ATTLIST series id ID #REQUIRED
          streaming_platform CDATA #REQUIRED
          country_of_origin CDATA #IMPLIED>